.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.project-card {
  border: 1px solid var(--primary);
  border-radius: 8px;
  padding: 1rem;
}

.project-card a:hover {
  text-decoration: underline;
}
